#!/usr/bin/env bash

build:debug -c dbg
build:debug --spawn_strategy=standalone

build:profile --compilation_mode=opt
build:profile --copt=-O3

build --copt="-Werror"
build --copt="-Wsign-compare"
build --cxxopt="-std=c++20"

build --disk_cache=
build --nobuild_runfile_links
build --experimental_inmemory_jdeps_files
build --experimental_inmemory_dotd_files
build --action_cache_store_output_metadata
build --remote_download_outputs=minimal
run --remote_download_outputs=toplevel
build --verbose_failures
test --verbose_failures
test --test_output=errors
test --test_verbose_timeout_warnings
coverage --test_tag_filters=-no-coverage
coverage --experimental_split_coverage_postprocessing
coverage --experimental_fetch_all_coverage_outputs
